/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #0f0f0f;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

/* Container for Profile */
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header Styling */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #454ed5;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    color: #1968a4;
    border-bottom: 2px solid #1968a4;
    padding-bottom: 10px;
    margin: 20px 0 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
    margin: 10px 0;
}

/* Profile Image Styling */
img {
    display: block;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
    border: 4px solid #1968a4;
}

/* List Styling */
ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin: 10px 0;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

ul li i {
    margin-left: 10px;
    color: #1968a4;
    font-size: 1.3em;
    vertical-align: middle;
}

/* Contact Information */
.contact-info {
    text-align: center;
    margin: 20px 0;
}

.contact-info a {
    color: #1968a4;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-info i {
    margin-left: 5px;
    font-size: 1.2em;
}

/* Skills Section */
.skills li i {
    color: #1968a4;
    font-size: 1.2em;
}

/* Footer Section */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

/* LinkedIn Icon Styling */
.fa-linkedin {
    font-size: 1.5em;
    color: #1968a4;
    margin-left: 10px;
}

a:hover .fa-linkedin {
    color: #0e5b7d;
}

/* Icon Colors for Specific Sections */
.fa-wine-glass { color: #b04e44; } /* Icon color for wine glass */
.fa-chart-pie { color: #4e73b0; } /* Icon color for chart pie */
.fa-users { color: #5b9e67; } /* Icon color for group */
.fa-rugby-ball { color: #ef9234; } /* Icon color for rugby ball */
.fa-futbol { color: #28a745; } /* Icon color for football */
.fa-language { color: #ff7043; } /* Icon color for languages */
.fa-plane-departure { color: #1f8ef1; } /* Icon color for travel */
.fa-laptop-code { color: #1976d2; } /* Icon color for digital marketing */
.fa-running { color: #ff6b6b; } /* Icon color for hobbies */
.fa-chart-line { color: #f39c12; } /* Icon color for investments */
.fa-laptop { color: #3498db; } /* Icon color for digital */
.fa-envelope { color: #e74c3c; } /* Icon color for email */
.fa-phone { color: #27ae60; } /* Icon color for phone */
.profile-container p {
    text-align: justify; /* Justifie le texte */
    margin: 0; /* Élimine les marges pour éviter l'espacement excessif */
}
h1 {
    color: rgb(56, 52, 52); /* Change la couleur du texte en noir */
}

